@import "global.less";


.aboutContainer {
    padding-top: 1em;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    
    
    .aboutHero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../images/museum/moon-fusion.jpg');
        overflow: hidden;
        height: 75vh;
    }
}

.volunteer {
        background-color: @brandPrimary;
        color: white;
        width: 50%;
    }
    
    .aboutSection {
        // padding-top: 100px;
        border-bottom: 1px solid @brandFontSecondary;
        margin: 100px auto;
        
        h1 {
            text-transform: uppercase;
            text-align: center;
            color: @brandSecondary;
            font-size: 2em;
        }

        p {
            margin-left: 25%;
            width: 50%;
            text-align: center;
            font-size: 1em;
        }
        
        .btn {
            background-color: @brandSecondary;
            color: white;
        }
        
        .signUp {
            padding-bottom: 100px;
            width: 50%;
            margin-left: 25%;
        }
    }
    
@media screen and (max-width:800px) {
    .aboutSection {
        margin: 0 auto;
        padding: 0;
    }
    h1 {
        // transform: rotate(90deg);
	    // transform-origin: right top 0;
        // float: right;
    }
    p {
        text-align: left;
        width: 100%;
        
    }
}



@media screen and (max-width:400px) {
    .aboutSection {
        margin: 0 auto;
        width: 100%;
    }
    h1 {
        // transform: rotate(90deg);
        // transform-origin: right top 0;
        font-size: 2em;
    }
    p {
        // text-align: left;
        margin: 0 auto;
        // width: 100%;
        padding-right: 2em;
    }
    
}
