#sticky {
  padding: 0.5ex;
  width: 600px;
  background-color: #333;
  color: #fff;
  font-size: 2em;
  border-radius: 0.5ex;
  margin: 0 auto;
}
#sticky .stick {
  margin-top: 0 !important;
  position: fixed;
  top: 0;
  z-index: 10000;
  border-radius: 0 0 0.5em 0.5em;
}
#sticky h3 {
  color: red;
}
body {
  margin: 1em;
}
p {
  margin: 1em auto;
}
