@import "global.less";


.aboutContainer {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    
    
    .aboutHero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../images/museum/moon-fusion.jpg');
        overflow: hidden;
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.volunteer {
        background-color: @brandPrimary;
        color: white;
        width: 50%;
    }
    
    .aboutSection {
        margin: 100px auto;
        h2{
            border-top: 4px solid;
            border-bottom: 4px solid;
            padding: 10px;
        }
        h1 {
            text-transform: uppercase;
            text-align: center;
            color: @brandSecondary;
            font-size: 2em;
        }

        p {
            padding-top: 3em;
            padding-left:10%;
            padding-right: 10%;
            width: 100%;
            text-align: center;
            font-size: 1em;
        }
        
        .btn {
            background-color: @brandSecondary;
            color: white;
        }
        
        .signUp {
            padding-bottom: 100px;
            width: 50%;
            margin-left: 25%;
        }
    }
    
@media screen and (max-width:800px) {
    .aboutSection {
        margin: 0 auto;
        padding: 0;
        p {
            width: 100%;
            
        }
    }
    .volunteer{
        width: 100%;
        margin: 0 auto;
        .signUp {
            width: 50%;
            margin: 0 auto;
            padding-bottom: 10px;
        }
        p {
            text-align: center;
        }
    }
}



@media screen and (max-width:400px) {
    .aboutSection {
        margin: 0 auto;
        width: 100%;
        h1 {
            font-size: 2em;
        }
    }
    .volunteer{
        width: 100%;
        margin: 0 auto;
        
        h2 {
            font-size: 2em;
        }
        .signUp {
            width: 100%;
            margin: 0 auto;
            padding: 0;
        }
        p {
            // text-align: left;
            margin: 0 auto;
            // width: 100%;
            padding-right: 2em;
        }
    }
}
