.paragraphStyle p {
  font-family: 'Roboto Condensed';
  color: #A7A9AC;
  font-size: 1em;
}
.headerStyle h1 {
  text-transform: uppercase;
  font-family: 'Oswald Bold';
  font-size: 5em;
}
.viewport {
  padding-top: 73px;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url(../../fonts/Roboto/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url(../../fonts/Roboto/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: 'Roboto Condensed Light';
  src: url(../../fonts/Roboto/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: 'Oswald';
  src: url(../../fonts/Oswald/Oswald-Regular.ttf);
}
@font-face {
  font-family: 'Oswald Light';
  src: url(../../fonts/Oswald/Oswald-Light.ttf);
}
@font-face {
  font-family: 'Oswald Bold';
  src: url(../../fonts/Oswald/Oswald-Bold.ttf);
}
@font-face {
  font-family: 'WorkSans';
  src: url(../../fonts/WorkSans/WorkSans-Regular.ttf);
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
#header {
  background-color: #101C3C;
  height: 73px;
  z-index: 20;
  border-bottom: 4px solid #CF2E20;
  position: fixed;
  width: 100%;
}
#header li {
  line-height: 73px;
  position: bottom;
  margin-top: 30px;
  font-family: 'Roboto Condensed Light';
}
#header li a .active {
  background-color: #CF2E20;
  color: #F1F1F1;
}
#header li a {
  color: #F1F1F1;
  font-size: 1.4em;
  background-color: transparent;
}
#header li a:hover {
  color: #CF2E20;
  background-color: transparent;
}
#header li .dropdown-menu {
  z-index: 25;
  margin-top: -9px;
  border: none;
  box-shadow: none;
  height: auto;
  background-color: #CF2E20;
  color: #F1F1F1;
}
#header li .dropdown-menu li {
  display: inline;
  text-align: center;
}
#header li .dropdown-menu li a:hover {
  color: #101C3C;
}
#header #lplogo {
  height: 100px;
  width: auto;
  position: fixed;
  z-index: 25;
  margin-top: -10px;
}
@media (min-width: 900px) {
  #header #lpname {
    height: 35px;
    width: auto;
    padding-left: 100px;
    margin-top: 4%;
  }
}
@media (max-width: 900px) {
  #header #lpname {
    height: 0px;
    width: 0px;
    opacity: 0;
  }
}
#header .navbar-toggle {
  margin-right: 25px;
  margin-top: 15px;
  background-color: transparent;
  border: transparent;
}
#header .navbar-toggle .icon-bar {
  background-color: #FFF;
  height: 2px;
  width: 30px;
  margin-top: 7px;
}
#sticky {
  padding: 0.5ex;
  width: 400px;
  background-color: #333;
  color: #fff;
  font-size: 2em;
  border-radius: 0.5ex;
  margin-left: 1em;
  margin-top: 1em;
}
#sticky .stick {
  margin-top: 0 !important;
  position: fixed;
  top: 0;
  z-index: 10000;
  border-radius: 0 0 0.5em 0.5em;
}
#sticky h3 {
  color: red;
}
* {
  box-sizing: border-box;
}
/* force scrollbar */
html {
  overflow-y: scroll;
}
/* ---- grid ---- */
.grid {
  background: #DDD;
}
.grid :after {
  content: '';
  display: block;
  clear: both;
}
/* ---- .grid-item ---- */
.grid-item {
  width: 33.333%;
  float: left;
}
.grid-item img {
  display: block;
  max-width: 100%;
}
.grid-item :hover {
  opacity: .5;
  cursor: pointer;
}
