@font-face {
  font-family: 'Roboto Condensed';
  src: url(../../fonts/Roboto/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url(../../fonts/Roboto/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: 'Roboto Condensed Light';
  src: url(../../fonts/Roboto/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: 'Oswald';
  src: url(../../fonts/Oswald/Oswald-Regular.ttf);
}
@font-face {
  font-family: 'Oswald Light';
  src: url(../../fonts/Oswald/Oswald-Light.ttf);
}
@font-face {
  font-family: 'Oswald Bold';
  src: url(../../fonts/Oswald/Oswald-Bold.ttf);
}
.paragraphStyle p {
  font-family: 'Roboto Condensed';
  color: #A7A9AC;
  font-size: 1em;
}
.headerStyle h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 6em;
  color: white;
  margin-top: 5em;
  padding-bottom: 5em;
  font-family: 'Oswald Bold';
}
.headerStyle h2 {
  text-transform: uppercase;
  font-family: 'Oswald Bold';
  font-size: 5em;
  color: #CF2E20;
  text-align: center;
  padding: 1em;
}
.spacerBox {
  width: 100%;
  max-height: 80px;
}
@media (min-width: 768px) {
  .navbar-header {
    height: 0px;
    width: 0px;
  }
}
#header .navbar-collapse li {
  margin-top: 15px;
}
.navbar-fixed-top {
  height: 110px;
}
.colorNav {
  background-image: url('../images/main_view/liftPorthoneycomb.png');
  border-bottom: 4px solid #CF2E20;
  height: 84px;
}
.onHidden {
  z-index: 110;
  position: fixed;
  height: 60px;
  width: 60px;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
@media (max-width: 768px) {
  .onHidden {
    height: 45px;
    width: 45px;
  }
}
#header {
  background-color: transparent;
  height: 100px;
  z-index: 200;
  width: 100%;
}
#header li {
  padding-right: 20px;
  position: bottom;
  margin-top: 30px;
  line-height: 1em;
  font-family: 'Roboto Condensed Light';
}
#header li a .active {
  background-color: #CF2E20;
  color: #F1F1F1;
}
#header li a {
  color: #F1F1F1;
  font-size: 1.4em;
  background-color: transparent;
}
#header li a:hover {
  color: #CF2E20;
  background-color: transparent;
}
#header li #specialList {
  z-index: 25;
  border: none;
  box-shadow: none;
  height: auto;
  background-color: #CF2E20;
  color: #F1F1F1;
  margin-top: 19px;
}
#header li #specialList li {
  display: inline;
  text-align: center;
}
#header li #specialList li a:hover {
  color: #101C3C;
}
#header #lplogo {
  height: 95px;
  width: auto;
  position: fixed;
  z-index: 25;
  margin-top: -10px;
}
@media (min-width: 900px) {
  #header #lpname {
    height: 35px;
    width: auto;
    padding-left: 80px;
    margin-top: -20px;
    margin-left: 20px;
  }
}
@media (max-width: 899px) {
  #header #lpname {
    height: 0px;
    width: 0px;
    opacity: 0;
  }
}
#header .navbar-toggle {
  margin-right: 25px;
  margin-top: 15px;
}
#header .navbar-toggle .icon-bar {
  background-color: #FFF;
  height: 2px;
  width: 30px;
  margin-top: 7px;
}
.footer {
  border-top: 4px solid #CF2E20;
  background-image: url('../images/main_view/liftPorthoneycomb.png');
  box-shadow: 0 1px 1px 0 #1D1D1D;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px 'Roboto Condensed Light';
  padding: 55px 50px;
}
#lpnamefooter {
  width: 50% !important;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}
/* Footer left */
.footer .footer-left {
  width: 40%;
}
/* The company logo */
.footer h3 {
  color: #F1F1F1;
  font: normal 36px 'Roboto Condensed Light', cursive;
  margin: 0;
}
.footer h3 span {
  color: #CF2E20;
}
/* Footer links */
.footer .footer-links {
  color: #F1F1F1;
  margin: 20px 0 12px;
  padding: 0;
}
.footer .footer-links a:hover {
  color: #CF2E20;
}
.footer .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer .footer-company-name {
  color: #A7A9AC;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Footer Center */
.footer .footer-center {
  width: 35%;
}
.footer .footer-center i {
  background-color: #101C3C;
  color: #F1F1F1;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer .footer-center p {
  display: inline-block;
  color: #F1F1F1;
  vertical-align: middle;
  margin: 0;
}
.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer .footer-center p a {
  color: #CF2E20;
  text-decoration: none;
}
/* Footer Right */
.footer .footer-right {
  width: 20%;
}
.footer .footer-company-about {
  line-height: 20px;
  color: #A7A9AC;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer .footer-company-about span {
  display: block;
  color: #F1F1F1;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer .footer-icons {
  margin-top: 25px;
}
.fa-facebook {
  width: 100%;
}
.fa-twitter {
  width: 100%;
}
.fa-instagram {
  width: 100%;
}
.footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: #F1F1F1;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer {
    font: bold 14px 'Roboto Condensed Light';
    clear: both;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.fullpage {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 992px) {
  #sectionLanding {
    overflow: hidden;
    max-height: 900px;
  }
  #sectionLanding .landingPage {
    max-height: 900px;
    width: 100%;
    margin: 0 auto;
  }
  #sectionLanding .layer0 {
    width: auto;
    height: 900px;
  }
  #sectionLanding .layer0 #moon {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 100%;
    max-width: 2560px;
    max-height: 700px;
  }
  #sectionLanding .layer1 {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    text-align: center;
    background: transparent;
  }
  #sectionLanding #bgvid {
    position: absolute;
    margin-top: -80px;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 2560px;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    /* in case the video doesn't fit the whole page*/
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    /*cover video background */
    z-index: -10;
    overflow: hidden;
  }
  #sectionLanding .title {
    padding-top: 20px;
  }
  #sectionLanding #landingTextArea {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 2%;
    margin-left: 5%;
    margin-top: 2%;
    padding: 1% 5%;
    text-align: center;
    max-height: 60%;
    margin-bottom: 5%;
    color: white;
  }
  #sectionLanding #landingTextArea background {
    filter: blur(0.2);
  }
  #sectionLanding #landingTextArea #landingText p {
    font-size: 1.5em;
    font-family: 'Roboto Condensed';
    line-height: 1.5em;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }
  #sectionLanding #landingTextArea .callToAction p {
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    color: white;
  }
  #sectionLanding #landingTextArea #btn-landing {
    box-shadow: none;
    text-decoration: none;
    width: 200px;
    height: 60px;
    font-size: 2em;
    font-family: 'Roboto Condensed';
    color: white;
    background-color: transparent;
    border-radius: 8%;
    text-align: center;
    border: 4px solid #CF2E20;
  }
  #sectionLanding #landingTextArea #btn-landing:hover {
    background-color: #CF2E20;
    color: white;
  }
}
@media (max-width: 991px) {
  #sectionLanding {
    overflow: hidden;
    height: 767px;
  }
  #sectionLanding .landingPage {
    overflow: none;
    height: 767px;
  }
  #sectionLanding .landingPage .mobileBackground {
    position: absolute;
    height: 767px;
    width: 100%;
    z-index: -10;
    top: 0;
  }
  #sectionLanding .landingPage .mobileBackground img {
    object-fit: cover;
    width: 110%;
    margin-left: -5%;
    height: 767px;
  }
  #sectionLanding .landingPage .tabletBackground {
    position: absolute;
    width: 100%;
    height: 767px;
    z-index: -10;
    top: 0;
  }
  #sectionLanding .landingPage .tabletBackground img {
    object-fit: cover;
    width: 100%;
    height: 767px;
  }
  #sectionLanding .landingPage .layer1 {
    margin-top: 14%;
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    text-align: center;
    background: transparent;
    padding-bottom: 20px;
  }
  #sectionLanding .landingPage .layer1 .title {
    margin-bottom: 3%;
  }
  #sectionLanding .landingPage .layer1 .title .landingLogo {
    height: 0px;
    width: 0px;
    opacity: 0;
  }
  #sectionLanding .landingPage .layer1 .title .landingTitle {
    text-align: center;
    padding: 10px;
    width: 100%;
    height: auto;
  }
  #sectionLanding .landingPage #landingTextArea {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    padding: 2% 4%;
    text-align: center;
    max-height: 60%;
    margin-bottom: 5%;
    color: white;
  }
  #sectionLanding .landingPage #landingTextArea background {
    filter: blur(0.2);
  }
  #sectionLanding .landingPage #landingTextArea #landingText p {
    font-family: 'Roboto Condensed';
    line-height: 1.2em;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
  }
  #sectionLanding .landingPage #landingTextArea .callToAction p {
    font-size: 1em;
    font-family: 'Roboto Condensed Bold';
    text-transform: uppercase;
    text-align: center;
    color: white;
  }
  #sectionLanding .landingPage #landingTextArea #btn-landing {
    box-shadow: none;
    text-decoration: none;
    width: 200px;
    height: 60px;
    font-size: 2em;
    font-family: 'Roboto Condensed';
    color: white;
    background-color: transparent;
    border-radius: 8%;
    text-align: center;
    border: 4px solid #CF2E20;
  }
  #sectionLanding .landingPage #landingTextArea #btn-landing:hover {
    background-color: #CF2E20;
    color: white;
  }
}
.lEsE {
  min-height: 800px;
  overflow: hidden;
}
.lEsE h2 {
  border-top: 4px solid;
  border-bottom: 4px solid;
  padding: 10px;
}
@media (min-width: 900px) {
  .slider {
    max-width: 2160px;
    width: 66.6%;
    text-align: center;
    z-index: 20;
    overflow: hidden;
    display: inline-block;
    transform: skewX(-10deg);
    transition: width 1.2s ease-in-out;
    margin-left: -250px;
    border-right: 10px solid ghostwhite;
    pointer-events: none;
  }
  .box {
    width: 100%;
    height: 525px;
  }
  .box a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .spaceland {
    transform: skewX(10deg);
    background: url(../images/main_view/LSEIBluePrintOff.jpg) no-repeat;
    margin-left: 150px;
    /* give margin to push content away from left slanted edge */
    pointer-events: auto;
    /* allow pointer events for the box */
    height: 750px;
    max-height: 525px;
  }
  .spaceland:hover {
    background: url('../images/main_view/LSEIBluePrintOn.jpg') no-repeat;
  }
  .lunaland {
    background: url(../images/main_view/spaceelevatoroff.jpg) no-repeat;
    position: absolute;
    background-size: cover;
    height: 525px;
  }
  .lunaland:hover {
    background: url('../images/main_view/spaceelevatorhover.jpg') no-repeat;
    height: 525px;
    background-size: cover;
  }
  .slider:hover {
    width: 90%;
  }
  .lunaland:hover + .slider {
    width: 45%;
  }
  .learnMore {
    text-align: center;
  }
  .lsei {
    text-align: center;
    margin-top: 90px;
  }
  .lunarElevatorText {
    position: absolute;
    margin-top: 50px;
  }
}
.mobileProjects {
  position: relative;
  font-family: 'Roboto Condensed';
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
}
.mobileProjects .lunarmobile {
  margin-bottom: 15px;
  margin-top: 15px;
}
.mobileProjects h3 {
  color: #101C3C;
}
.mobileProjects p {
  color: #101C3C;
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.mobileProjects img {
  width: 100%;
  max-height: 500px;
}
.mobileProjects .btn-projects {
  color: #101C3C;
  background-color: transparent;
  border: 4px solid #101C3C;
}
.mobileProjects .btn-projects:hover {
  color: white;
  background-color: #101C3C;
}
.learnMoreContainer {
  min-height: 800px;
  height: 100%;
  overflow: none;
  margin-bottom: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.learnMoreContainer a {
  text-decoration: none;
  color: #101C3C;
}
.learnMoreContainer a:hover {
  color: #CF2E20;
}
.learnMoreContainer h2 {
  border-top: 4px solid #CF2E20;
  text-transform: uppercase;
  border-bottom: 4px solid #CF2E20;
  padding: 10px;
}
.learnMoreContainer img {
  max-height: 400px;
}
.learnMoreContainer p {
  color: #101C3C;
  text-align: center;
}
.lunarHero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/lunar_elevator/lunarHero.jpg');
  overflow: hidden;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lunarHero h1 {
  text-transform: uppercase;
  text-align: center;
  color: #CF2E20;
  font-size: 6em;
  color: white;
  margin-top: 10%;
  font-family: 'Oswald Bold';
}
.section_0 {
  background-color: #F5F5F5;
  overflow: hidden;
  padding-bottom: 4em;
}
.section_0 h1 {
  color: #CF2E20 !important;
  font-size: 3em;
  padding: 1em;
}
.section_0 p {
  padding: 2em;
}
.section_1 {
  overflow: hidden;
  padding-bottom: 4em;
}
.section_1 h1 {
  color: #CF2E20 !important;
  font-size: 3em;
  padding: 1em;
}
.section_1 p {
  padding: 2em;
}
.section_2 {
  background-color: #F5F5F5;
  overflow: hidden;
  padding-bottom: 4em;
}
.section_2 h1 {
  color: #CF2E20 !important;
  font-size: 3em;
  padding: 1em;
}
.section_2 p {
  padding: 2em;
}
.jssora05l,
.jssora05r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url('../images/lunar_elevator/a17.png') no-repeat;
  overflow: hidden;
}
.jssora05l {
  background-position: -10px -40px;
}
.jssora05r {
  background-position: -70px -40px;
}
.jssora05l:hover {
  background-position: -130px -40px;
}
.jssora05r:hover {
  background-position: -190px -40px;
}
.jssora05l.jssora05ldn {
  background-position: -250px -40px;
}
.jssora05r.jssora05rdn {
  background-position: -310px -40px;
}
.jssort01 .p {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
}
.jssort01 .t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.jssort01 .w {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.jssort01 .c {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 68px;
  height: 68px;
  border: #000 2px solid;
  box-sizing: content-box;
  background: url('../images/lunar_elevator/t01.png') -800px -800px no-repeat;
  _background: none;
}
.jssort01 .pav .c {
  top: 2px;
  _top: 0px;
  left: 2px;
  _left: 0px;
  width: 68px;
  height: 68px;
  border: #000 0px solid;
  _border: #fff 2px solid;
  background-position: 50% 50%;
}
.jssort01 .p:hover .c {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  border: #fff 1px solid;
  background-position: 50% 50%;
}
.jssort01 .p.pdn .c {
  background-position: 50% 50%;
  width: 68px;
  height: 68px;
  border: #000 2px solid;
}
* html .jssort01 .c,
* html .jssort01 .pdn .c,
* html .jssort01 .pav .c {
  /* ie quirks mode adjust */
  width: 72px;
  height: 72px;
}
.lunar-container {
  margin: 7%;
  background-color: white;
  border-radius: 10px;
}
.lunar-txt {
  margin: 1em;
}
.lunar-img {
  background-image: url(../images/lunar_elevator/lunar_text.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 34em;
  margin-top: 2em;
}
.ele {
  padding: 0em !important;
  border-top: 4px solid;
  border-bottom: 4px solid;
}
.video-container {
  margin-top: 3em;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
.videos {
  text-align: center;
  margin: 2em;
}
.documents {
  text-align: center;
  margin: 2em;
}
.txt-center {
  text-align: center;
}
.pdfobject-container {
  width: 100%;
  height: 30em;
}
.pdfobject {
  border: 1px solid #666;
}
.section_0 {
  background-color: #F5F5F5;
  overflow: hidden;
  padding-bottom: 4em;
}
.section_0 h1 {
  color: #CF2E20 !important;
  font-size: 3em;
  padding: 1em;
}
.section_0 p {
  padding: 2em;
}
.section_1 {
  overflow: hidden;
  padding-bottom: 4em;
}
.section_1 h1 {
  color: #CF2E20 !important;
  font-size: 3em;
  padding: 1em;
}
.section_1 p {
  padding: 2em;
}
.section_2 {
  background-color: #F5F5F5;
  overflow: hidden;
  padding-bottom: 4em;
}
.section_2 h1 {
  color: #CF2E20 !important;
  font-size: 3em;
  padding: 1em;
}
.section_2 p {
  padding: 2em;
}
.spaceHero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/space_elevator/spaceHero.jpg');
  overflow: hidden;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spaceHero h1 {
  text-transform: uppercase;
  text-align: center;
  color: #CF2E20;
  font-size: 6em;
  color: white;
  margin-top: 10%;
  font-family: 'Oswald Bold';
}
.jssora05l,
.jssora05r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url('../images/lunar_elevator/a17.png') no-repeat;
  overflow: hidden;
}
.jssora05l {
  background-position: -10px -40px;
}
.jssora05r {
  background-position: -70px -40px;
}
.jssora05l:hover {
  background-position: -130px -40px;
}
.jssora05r:hover {
  background-position: -190px -40px;
}
.jssora05l.jssora05ldn {
  background-position: -250px -40px;
}
.jssora05r.jssora05rdn {
  background-position: -310px -40px;
}
/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p            (normal)
.jssort01 .p:hover      (normal mouseover)
.jssort01 .p.pav        (active)
.jssort01 .p.pdn        (mousedown)
*/
.jssort01 .p {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
}
.jssort01 .t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.jssort01 .w {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.jssort01 .c {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 68px;
  height: 68px;
  border: #000 2px solid;
  box-sizing: content-box;
  background: url('../images/lunar_elevator/t01.png') -800px -800px no-repeat;
  _background: none;
}
.jssort01 .pav .c {
  top: 2px;
  _top: 0px;
  left: 2px;
  _left: 0px;
  width: 68px;
  height: 68px;
  border: #000 0px solid;
  _border: #fff 2px solid;
  background-position: 50% 50%;
}
.jssort01 .p:hover .c {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  border: #fff 1px solid;
  background-position: 50% 50%;
}
.jssort01 .p.pdn .c {
  background-position: 50% 50%;
  width: 68px;
  height: 68px;
  border: #000 2px solid;
}
* html .jssort01 .c,
* html .jssort01 .pdn .c,
* html .jssort01 .pav .c {
  /* ie quirks mode adjust */
  width: 72px;
  height: 72px;
}
.space-container {
  margin: 7%;
  background-color: white;
  border-radius: 10px;
}
.space-txt {
  margin: 1em;
}
.space-img {
  background-image: url(../images/space_elevator/space_text.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 56em;
  margin-top: 2em;
}
.ele {
  padding: 0em !important;
  border-top: 4px solid;
  border-bottom: 4px solid;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 3em;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
.videos {
  text-align: center;
  margin: 2em;
}
.documents {
  text-align: center;
  margin: 2em;
}
.txt-center {
  text-align: center;
}
.pdfobject-container {
  height: 30em;
}
.pdfobject {
  border: 1px solid #666;
}
.aboutContainer {
  background-color: white;
  width: 100%;
  margin: 0 auto;
}
.aboutContainer .aboutHero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/museum/moon-fusion.jpg');
  overflow: hidden;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.volunteer {
  background-color: #101C3C;
  color: white;
  width: 50%;
}
.aboutSection {
  margin: 100px auto;
}
.aboutSection h2 {
  border-top: 4px solid;
  border-bottom: 4px solid;
  padding: 10px;
}
.aboutSection h1 {
  text-transform: uppercase;
  text-align: center;
  color: #CF2E20;
  font-size: 2em;
}
.aboutSection p {
  padding-top: 3em;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  text-align: center;
  font-size: 1em;
}
.aboutSection .btn {
  background-color: #CF2E20;
  color: white;
}
.aboutSection .signUp {
  padding-bottom: 100px;
  width: 50%;
  margin-left: 25%;
}
@media screen and (max-width: 800px) {
  .aboutSection {
    margin: 0 auto;
    padding: 0;
  }
  .aboutSection p {
    width: 100%;
  }
  .volunteer {
    width: 100%;
    margin: 0 auto;
  }
  .volunteer .signUp {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .volunteer p {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .aboutSection {
    margin: 0 auto;
    width: 100%;
  }
  .aboutSection h1 {
    font-size: 2em;
  }
  .volunteer {
    width: 100%;
    margin: 0 auto;
  }
  .volunteer h2 {
    font-size: 2em;
  }
  .volunteer .signUp {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .volunteer p {
    margin: 0 auto;
    padding-right: 2em;
  }
}
.museumContainer {
  overflow: hidden;
  background-color: white;
  margin: 0 auto;
}
.museumContainer .strategy p {
  padding: 0;
  margin: 0 auto;
}
.museumContainer h2 {
  border-top: 4px solid;
  border-bottom: 4px solid;
  padding: 10px;
}
.museumContainer p {
  padding-top: 3em;
}
.museumContainer .museumHero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/museum/lunar_elevator_ascending_1280.jpg');
  overflow: hidden;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.museumContainer .museumSection {
  padding-top: 50px;
  border-bottom: 1px solid #A7A9AC;
  margin: 0 auto;
  background-color: #f5f5f5;
}
.museumContainer .museumSection p {
  margin-left: 25%;
  width: 50%;
  text-align: center;
  padding-bottom: 100px;
  font-size: 1.25em;
  font-family: Roboto Condensed;
}
.museumContainer .museumSection .btn {
  background-color: #CF2E20;
  color: white;
}
.museumContainer .museumSection .signUp {
  padding-bottom: 100px;
  width: 50%;
  margin-left: 25%;
}
@media screen and (max-width: 800px) {
  .museumSection {
    margin: 0 auto;
    padding: 0;
  }
  .museumSection h2 {
    font-size: 2em;
  }
  .museumSection p {
    text-align: left;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .content {
    margin: 0 auto;
  }
  .content h2 {
    font-size: 2em;
  }
  .content p {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    padding-right: 2em;
  }
}
