@font-face {
    font-family: 'Roboto Condensed';
    src: url(../../fonts/Roboto/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url(../../fonts/Roboto/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Condensed Light';
    src: url(../../fonts/Roboto/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: 'Oswald';
    src: url(../../fonts/Oswald/Oswald-Regular.ttf);
}

@font-face {
    font-family: 'Oswald Light';
    src: url(../../fonts/Oswald/Oswald-Light.ttf);
}

@font-face {
    font-family: 'Oswald Bold';
    src: url(../../fonts/Oswald/Oswald-Bold.ttf);
}

@font-face {
    font-family: 'WorkSans';
    src: url(../../fonts/WorkSans/WorkSans-Regular.ttf);
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  
  .btn {
    font-size: 21px;
    padding: 14px 24px;
    
    }
}