@import "global.less";

.museumContainer {
    // padding-top: 1em;
    background-color: white;
    margin: 0 auto;
    .museumHero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../images/museum/lunar_elevator_ascending_1280.jpg');
        overflow: hidden;
        height: 75vh;
    }
    
    .museumSection {
        padding-top: 50px;
        border-bottom: 1px solid @brandFontSecondary;
        margin: 0 auto;
        background-color: #f5f5f5;
        
        p {
            margin-left: 25%;
            width: 50%;
            text-align: center;
            padding-bottom: 100px;
            font-size: 1.25em;
            font-family: Roboto Condensed;
        }
        
        .btn {
            background-color: @brandSecondary;
            color: white;
        }
        
        .signUp {
            padding-bottom: 100px;
            width: 50%;
            margin-left: 25%;
        }
        
    }
}

.content {
    margin-left: 25%;
}


@media screen and (max-width:800px) {
    .museumSection {
        margin: 0 auto;
        padding: 0;
    }
    h1 {
        // transform: rotate(90deg);
	    // transform-origin: right top 0;
        // float: right;
    }
    p {
        text-align: left;
        width: 100%;
        
    }
}



@media screen and (max-width:400px) {
    .museumSection {
        margin: 0 auto;
        width: 100%;
    }
    h1 {
        // transform: rotate(90deg);
        // transform-origin: right top 0;
        font-size: 2em;
    }
    p {
        // text-align: left;
        margin: 0 auto;
        // width: 100%;
        padding-right: 2em;
    }
    
}



