.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/iss028e020072_lrg.jpg');
  overflow: hidden;
  height: 130vh;
}
.hero h1 {
  text-transform: uppercase;
  text-align: center;
  color: #CF2E20;
  font-size: 6em;
  color: white;
  margin-top: 5em;
  font-family: 'Oswald Bold';
}
.museumContainer {
  background-color: white;
  background-image: url();
  width: 100%;
  margin: 0 auto;
}
.museumContainer .section {
  border-bottom: 1px solid #A7A9AC;
  margin: 0 auto;
}
.museumContainer .section h2 {
  text-transform: uppercase;
  font-family: 'Oswald Bold';
  font-size: 5em;
  color: #101C3C;
  text-align: center;
}
.museumContainer .section p {
  margin-left: 25%;
  width: 50%;
  text-align: center;
  padding-bottom: 100px;
  font-size: 1em;
  font-family: Roboto Condensed;
}
.museumContainer .section .btn {
  background-color: #CF2E20;
  color: white;
}
.museumContainer .section .signUp {
  padding-bottom: 100px;
  width: 50%;
  margin-left: 25%;
}
@media screen and (max-width: 800px) {
  .section {
    margin: 0 auto;
    padding: 0;
  }
  p {
    text-align: left;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .section {
    margin: 0 auto;
    width: 100%;
  }
  h1 {
    font-size: 2em;
  }
  p {
    margin: 0 auto;
    padding-right: 2em;
  }
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url(../../fonts/Roboto/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url(../../fonts/Roboto/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: 'Roboto Condensed Light';
  src: url(../../fonts/Roboto/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: 'Oswald';
  src: url(../../fonts/Oswald/Oswald-Regular.ttf);
}
@font-face {
  font-family: 'Oswald Light';
  src: url(../../fonts/Oswald/Oswald-Light.ttf);
}
@font-face {
  font-family: 'Oswald Bold';
  src: url(../../fonts/Oswald/Oswald-Bold.ttf);
}
.paragraphStyle p {
  font-family: 'Roboto Condensed';
  color: #A7A9AC;
  font-size: 1em;
}
.headerStyle h1 {
  text-transform: uppercase;
  font-family: 'Oswald Bold';
  font-size: 5em;
  color: #101C3C;
}
.spacerBox {
  width: 100%;
  max-height: 80px;
}
.navbar-fixed-top {
  height: 110px;
}
.colorNav {
  background-color: #101C3C;
  border-bottom: 4px solid #CF2E20;
}
.onHidden {
  z-index: 110;
  position: fixed;
  height: 80px;
  width: auto;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
#header {
  background-color: transparent;
  height: 100px;
  z-index: 200;
  width: 100%;
}
#header li {
  line-height: 73px;
  padding-right: 20px;
  position: bottom;
  margin-top: 30px;
  font-family: 'Roboto Condensed Light';
}
#header li a .active {
  background-color: #CF2E20;
  color: #F1F1F1;
}
#header li a {
  color: #F1F1F1;
  font-size: 1.4em;
  background-color: transparent;
}
#header li a:hover {
  color: #CF2E20;
  background-color: transparent;
}
#header li .dropdown-menu {
  z-index: 25;
  margin-top: -9px;
  border: none;
  box-shadow: none;
  height: auto;
  background-color: #CF2E20;
  color: #F1F1F1;
}
#header li .dropdown-menu li {
  display: inline;
  text-align: center;
}
#header li .dropdown-menu li a:hover {
  color: #101C3C;
}
#header #lplogo {
  height: 100px;
  width: auto;
  position: fixed;
  z-index: 25;
  margin-top: -10px;
}
@media (min-width: 900px) {
  #header #lpname {
    height: 35px;
    width: auto;
    padding-left: 80px;
    margin-top: 4%;
  }
}
@media (max-width: 900px) {
  #header #lpname {
    height: 0px;
    width: 0px;
    opacity: 0;
  }
}
#header .navbar-toggle {
  margin-right: 25px;
  margin-top: 15px;
  background-color: transparent;
  border: transparent;
}
#header .navbar-toggle .icon-bar {
  background-color: #FFF;
  height: 2px;
  width: 30px;
  margin-top: 7px;
}
.footer {
  border-top: 4px solid #CF2E20;
  background-color: #101C3C;
  box-shadow: 0 1px 1px 0 #1D1D1D;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px 'Roboto Condensed Light';
  padding: 55px 50px;
  margin-top: 80px;
}
#lpnamefooter {
  width: 50% !important;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}
/* Footer left */
.footer .footer-left {
  width: 40%;
}
/* The company logo */
.footer h3 {
  color: #F1F1F1;
  font: normal 36px 'Roboto Condensed Light', cursive;
  margin: 0;
}
.footer h3 span {
  color: #CF2E20;
}
/* Footer links */
.footer .footer-links {
  color: #F1F1F1;
  margin: 20px 0 12px;
  padding: 0;
}
.footer .footer-links a:hover {
  color: #CF2E20;
}
.footer .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer .footer-company-name {
  color: #A7A9AC;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Footer Center */
.footer .footer-center {
  width: 35%;
}
.footer .footer-center i {
  background-color: #101C3C;
  color: #F1F1F1;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer .footer-center p {
  display: inline-block;
  color: #F1F1F1;
  vertical-align: middle;
  margin: 0;
}
.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer .footer-center p a {
  color: #CF2E20;
  text-decoration: none;
}
/* Footer Right */
.footer .footer-right {
  width: 20%;
}
.footer .footer-company-about {
  line-height: 20px;
  color: #A7A9AC;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer .footer-company-about span {
  display: block;
  color: #F1F1F1;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer .footer-icons {
  margin-top: 25px;
}
.fa-facebook {
  width: 100%;
}
.fa-twitter {
  width: 100%;
}
.fa-instagram {
  width: 100%;
}
.footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: #F1F1F1;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer {
    font: bold 14px 'Roboto Condensed Light';
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
