<!--<div id="sticky" class="row">
    <div class="col-md-4">
        <h3>Sign Up</h3>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Email">
            </div>
        </form>
        <button type="submit" class="btn btn-default">Sign Up</button>
    </div>

</div>     
<h1 class="headerStyle">Image Gallery</h1>

<div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item">
        <img src="../images/3139100429_f36e5286c0_o.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/3139644446_78463e7463_o.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/S256©SAIC.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/buzzfront.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/Drifter_wallpaper_A_1366x768.jpg">
    </div>
    
    <div class="grid-item">
        <img src="../images/lifter_with_astronaut_and_subtext.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/1ElsieTheRibbonSnake.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/5  Lifter3D2.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/8  LifterNotPoster.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/3139865970_9c7512155b_o.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/anchor1.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/anchor2 (3).jpg">
    </div>
    <div class="grid-item">
        <img src="../images/artnewsletter.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/cargocollective.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/space-elevator-1.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/2012-08-16 08_18_31.png">
    </div>
</div>-->
