<!--<div id="sticky" class="row">
    <div class="col-md-4">
        <h3>Sign Up</h3>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Email">
            </div>
        </form>
        <button type="submit" class="btn btn-default">Sign Up</button>
    </div>

</div>     
<h1 class="headerStyle">Image Gallery</h1>

<div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item">
        <img src="../images/3139100429_f36e5286c0_o.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/3139644446_78463e7463_o.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/S256©SAIC.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/buzzfront.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/Drifter_wallpaper_A_1366x768.jpg">
    </div>
    
    <div class="grid-item">
        <img src="../images/lifter_with_astronaut_and_subtext.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/1ElsieTheRibbonSnake.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/5  Lifter3D2.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/8  LifterNotPoster.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/3139865970_9c7512155b_o.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/anchor1.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/anchor2 (3).jpg">
    </div>
    <div class="grid-item">
        <img src="../images/artnewsletter.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/cargocollective.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/space-elevator-1.jpg">
    </div>
    <div class="grid-item">
        <img src="../images/2012-08-16 08_18_31.png">
    </div>
</div>-->

<div class="container">
    <div class="vision section">
        <h1 class="headerStyle">Vision</h1>
        <p class="paragraphStyle">
            Link humanity from our home, Earth, to our Moon, to our planets, and to the stars.
            Earn a substantial return on investment for commercially developing advanced technologies.
            Learn what we need to learn, to build Elevators to and in space – and build them!
            Commercialize mass-cargo cislunar space transportation.
            Changing the world – improving it – is worth the effort.
            Building something great requires the best we have to offer.
            People matter; Integrity and Global Teamwork matter.
            We are accountable, for generations, to our global stakeholders.
        </p>
    </div>
    <div class="mission section">
        <h1 class="headerStyle">Mission</h1>

        <p>
            Earn a substantial return on investment for commercially developing advanced technologies.
            Learn what we need to learn, to build Elevators to and in space – and build them!
            Commercialize mass-cargo cislunar space transportation.
            Values

            Changing the world – improving it – is worth the effort.
            Building something great requires the best we have to offer.
            People matter; Integrity and Global Teamwork matter.
            We are accountable, for generations, to our global stakeholders.
        </p>
    </div>

    <div class="strategy section">
        <h1 class="headerStyle">LiftPort Strategic Framework</h1>
        <p>
            LiftPort Group will make the Moon economically accessible for exploration, settlement, and extraction of natural resources by designing, constructing and operating a Lunar Space Elevator Infrastructure (LSEI).  The LSEI will transport cargo and people to and from the Earth-Moon Lagrange 1 (EML1), through a soft-landing, down to the surface of the Moon.

            Located at the EML1, LiftPort Group will build and operate the PicoGravity Laboratory – a crewed research station with energy, fuel resupply and docking facilities for larger missions deep into the solar system.  LiftPort opens up the Moon and the rest of the solar system to humanity.

            We cherish ideas and innovation.  We earn revenues from our intellectual property, but it is the creative genius of the combined team that is ultimately responsible for our success.  As a global effort, we require cooperation with our stakeholders around the world.
        </p>
        
    </div>
    
    <div class="goals section">
        <h1>Strategic Goals</h1 class="headerStyle">

        <p>
            By the end of 2019, establish an operational Lunar Space Elevator Infrastructure using:

            Commercial Off the Shelf (COTS) Technology
            “Sputnik-like Simplicity”
            A Single Launch Solution
        </p>
    </div>
 
</div>