<!--<div id="fullpage" class="fullpage-wrapper" style="height: 100%; position: relative; touch-action: none; top: -684px;">
    <div class="section  fp-section" id="section0" style="height: 150px;">
        <h1>Lunar Elevator</h1></div>
</div>-->
<div class="lunar-cointainer">
    <div class="lunar-txt">
        <h1>LUNAR ELEVATOR</h1>
        <p>Lorem ipsum dolor sit amet, vis ad patrioque voluptatibus, eu dicta congue nec. Quo no lorem clita dolore. Duis oratio
            dolores no has, ne sint invenire repudiare est. Mea dolores volutpat id. At quem meliore oporteat cum, vim affert
            persius no, ei omnesque expetenda comprehensam pro. Quis assum equidem vix cu, nec harum molestiae conclusionemque
            cu. Hinc similique philosophia at cum, offendit invidunt pri ei. Et sit omnium salutandi. Qui ut odio homero
            laoreet, ex quo placerat mediocritatem. An sea quem nobis sensibus. Ex quo iusto theophrastus, te legere voluptatibus
            usu. Imperdiet definitionem eam te, ridens doctus ornatus in usu, an adhuc doming nostrud pro. Te ius bonorum
            alienum, omnis insolens an mel, nam ad possit habemus fierent. Nulla indoctum at pro, ius eu zril quaestio volutpat,
            brute aeque voluptatibus per ad. Mucius officiis cu vix. Mucius suavitate interesset et usu. Cum ad iriure prompta,
            tempor scripta in pri. Vel ut porro dolorem mentitum, choro clita mnesarchum vis et, ei usu veniam utamur. Eum
            soluta suscipit omittantur ne, id cum modo tollit, eum in affert fierent. Eos viderer prompta philosophia cu,
            eos in dico percipit. Ex vim habeo explicari molestiae. Cu per sanctus pertinax deseruisse, eum in nominati gubergren.
            Ex dicam pertinax per, nam ipsum postea in, modo fabulas consectetuer pri ex. Cu vim justo patrioque, nec ut
            dicat facete. Vix qualisque conceptam id, ad soleat qualisque eam. Tale dicant eam ex, partem ceteros maiorum
            sed ex. Vel sonet debitis ei, nec sale moderatius cu. Est facete graecis molestie ad, sit an tale volutpat, at
            partiendo repudiare nec. Velit saperet perpetua et eum, soleat consulatu mel ad. Usu ad aeque utroque euripidis,
            vim euismod referrentur in, et justo postea iuvaret mea.</p>
    </div>
</div>
<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden; visibility: hidden; background-color: #24262e;">
    <!-- Loading Screen -->
    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
        <div style="position:absolute;display:block;background:url('../images/lunar_elevator/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
    </div>
    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 356px; overflow: hidden;">
        <div data-p="144.50" style="display: none;">
            <img data-u="image" src="../images/lunar_elevator/01.jpg" />
            <img data-u="thumb" src="../images/lunar_elevator/thumb-01.jpg" />
        </div>
        <div data-p="144.50" style="display: none;">
            <img data-u="image" src="../images/lunar_elevator/02.jpg" />
            <img data-u="thumb" src="../images/lunar_elevator/thumb-02.jpg" />
        </div>
        <div data-p="144.50" style="display: none;">
            <img data-u="image" src="../images/lunar_elevator/03.jpg" />
            <img data-u="thumb" src="../images/lunar_elevator/thumb-03.jpg" />
        </div>
        <div data-p="144.50" style="display: none;">
            <img data-u="image" src="../images/lunar_elevator/04.jpg" />
            <img data-u="thumb" src="../images/lunar_elevator/thumb-04.jpg" />
        </div>
        <div data-p="144.50" style="display: none;">
            <img data-u="image" src="../images/lunar_elevator/05.jpg" />
            <img data-u="thumb" src="../images/lunar_elevator/thumb-05.jpg" />
        </div>
        <div data-p="144.50" style="display: none;">
            <img data-u="image" src="../images/lunar_elevator/06.jpg" />
            <img data-u="thumb" src="../images/lunar_elevator/thumb-06.jpg" />
        </div>
        <div data-p="144.50" style="display: none;">
            <img data-u="image" src="../images/lunar_elevator/07.jpg" />
            <img data-u="thumb" src="../images/lunar_elevator/thumb-07.jpg" />
        </div>
        <div data-p="144.50" style="display: none;">
            <img data-u="image" src="../images/lunar_elevator/08.jpg" />
            <img data-u="thumb" src="../images/lunar_elevator/thumb-08.jpg" />
        </div>
        <div data-p="144.50" style="display: none;">
            <img data-u="image" src="../images/lunar_elevator/09.jpg" />
            <img data-u="thumb" src="../images/lunar_elevator/thumb-09.jpg" />
        </div>
        <div data-p="144.50" style="display: none;">
            <img data-u="image" src="../images/lunar_elevator/10.jpg" />
            <img data-u="thumb" src="../images/lunar_elevator/thumb-10.jpg" />
        </div>
        <div data-p="144.50" style="display: none;">
            <img data-u="image" src="../images/lunar_elevator/11.jpg" />
            <img data-u="thumb" src="../images/lunar_elevator/thumb-11.jpg" />
        </div>
        <div data-p="144.50" style="display: none;">
            <img data-u="image" src="../images/lunar_elevator/12.jpg" />
            <img data-u="thumb" src="../images/lunar_elevator/thumb-12.jpg" />
        </div>
        <!--<a data-u="ad" href="http://www.jssor.com" style="display:none">jQuery Slider</a>-->

    </div>
    <!-- Thumbnail Navigator -->
    <div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
        <!-- Thumbnail Item Skin Begin -->
        <div data-u="slides" style="cursor: default;">
            <div data-u="prototype" class="p">
                <div class="w">
                    <div data-u="thumbnailtemplate" class="t"></div>
                </div>
                <div class="c"></div>
            </div>
        </div>
        <!-- Thumbnail Item Skin End -->
    </div>
    <!-- Arrow Navigator -->
    <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
    <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
</div>