
<div id="fullpage">
    <div class="section" id="sectionLanding">
        <div class="landingPage">
            <div class="visible-lg visible-md visible-sm">
                <video autoplay loop muted id="bgvid">
                    <source src="images/main_view/STAR_SKY_HD_background_loop.webm" type="video/webm">
                    <source src="images/main_view/STAR SKY HD background loop.mp4" type="video/mp4">
                </video>
            </div>
            <div class="mobileBackground col-xs-12 hidden-sm hidden-md hidden-lg">
                <img src="images/main_view/mobilebg.jpg">
            </div>
            <div class="layer0 visible-md visible-lg">
                <img id="moon" src="images/main_view/landingpagefinal.png">
            </div>
            <div class="layer1">
                <div class="title">
                    <img src="images/LiftPort-Logo-Small.png" alt="LPLogo" class="landingLogo">
                    <img src="images/4_LiftPort_Logo_(website).png" alt="LiftPort" class="landingTitle">
                </div>
              
                <div class="col-md-5 col-md-offset-2 col-xs-12 landingTextArea">
                    <div id="landingText">
                        <p>LiftPort is pushing the limits of engineering to propel humanity towards the stars. With a Lunar Space Elevator Infrastructure, we hope to give humanity quick access to long-term lunar exploration, and the resources it can provide.</p> 
                    </div>
                    <div class="callToAction paragraphStyle">
                        <p >If you'd like to receive updates on our mission direct to your inbox, sign up below!</p>
                        <button type="button" class="btn btn-landing">SIGN UP</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="lEsE">
            
            <div class="spacerbox headerStyle">
                <h2 class="lsei">KEY PROJECTS</h2>
            </div>
            <div class="sliderContainer visible-md visible-lg">
                <div class="box lunaland">
                    <a href="#spaceelevator"></a>
                </div>
                <div class="slider">
                    <div class="box spaceland">
                        <a href="#lunarelevator"></a>
                    </div>
                </div>
            </div>
            <div class="mobileProjects visible-xs visible-sm hidden-md hidden-lg">
                <div class="lunarmobile">
                    <img src="images/main_view/LSEIBlueprintScaled.jpg" alt="">
                    <h4>LUNAR ELEVATOR</h4>
                    <p>This paragraph is designed to explore the mission, design,and funtamental points that go into making the Lunar Elevator. </p>  
                    <button class="btn btn-projects">LEARN MORE</button>   
                </div>
                <div class="semobile">     
                    <img src="images/main_view/stationblank.jpg" alt="">     
                    <h4>SPACE ELEVATOR</h4>
                    <p>This paragraph is designed to explore the mission, design,and funtamental points that go into making the Space Elevator.</p>
                    <button class="btn btn-projects">LEARN MORE</button>
                </div> 
            </div>
    </div>
    <div class="section">
        <div class="learnMoreContainer">
            <div class="learnMore headerStyle paragraphStyle">
                <h2>Learn More</h2>
                <div class="col-sm-4"> 
                    <img src="../images/main_view/106__team.svg" alt="About">
                    <h4>About</h4>
                    <p>Here is where we talk about the about page and all the cool things that are on it</p>
                </div>
                <div class="col-sm-4"> 
                    <img src="images/main_view/093__picture.svg" alt="Museum">
                    <h4>Museum</h4>
                    <p> Here is where we talk about the museum page, and all the cool things that are on it</p>
                </div>
                <div class="col-sm-4"> 
                    <img src="images/main_view/036__file_text.svg" alt="TechDocs">
                    <h4>Technical Documents</h4>
                    <p>Here is where we talk about the Technical Documents page, and all of the cool things that are on it</p>
                </div>
            </div>
        </div> 
    </div>
    
</div>