
<div id="fullpage">
    <div class="section" id="sectionLanding">
        <div class="landingPage">
            <div class="hide-below-lg">
                <video autoplay loop muted id="bgvid">
                    <source src="images/main_view/STAR_SKY_HD_background_loop.webm" type="video/webm">
                    <source src="images/main_view/STAR SKY HD background loop.mp4" type="video/mp4">
                </video>
            </div>
            <div class="layer0">
                <img id="moon" src="images/main_view/landingpagefinal.png">
            </div>
            <div class="container layer1">
                <div class="title">
                    <img src="images/LiftPort-Logo-Small.png" alt="LPLogo" class="landingLogo">
                    <img src="images/4_LiftPort_Logo_(website).png" alt="LiftPort" class="landingTitle">
                </div>
              
                <div class="col-md-5 col-md-offset-2 landingTextArea">
                    <div class="landingText headerStyle">
                        <p>Your Text Here. Tell me what a lunar elevator gives me. Tell me why I should care. Tell me why you're the best. Lorem Ipsum.</p> 
                    </div>
                    <div class="callToAction">
                        <h4 class="paragraphStyle">Enter Your Email For LiftPort News And Updates</h4>
                        <textarea name="email" id="email" cols="30" rows="1" placeholder="email"></textarea>
                        <button class="buttonLight">Submit</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="learnMore">
                <h1 class="headerStyle">
                    Learn More
                </h1>
                <div class="col-md-4"> 
                    <img src="../images/main_view/106__team.svg" alt="About">
                    <h4>About</h4>
                    <p>Here is where we talk about the about page and all the cool things that are on it</p>
                </div>
                <div class="col-md-4"> 
                    <img src="images/main_view/093__picture.svg" alt="Museum">
                    <h4>Museum</h4>
                    <p> Here is where we talk about the museum page, and all the cool things that are on it</p>
                </div>
                <div class="col-md-4"> 
                    <img src="images/main_view/036__file_text.svg" alt="TechDocs">
                    <h4>Technical Documents</h4>
                    <p>Here is where we talk about the Technical Documents page, and all of the cool things that are on it</p>
                </div>
            </div>
        </div> 
    </div>
    <div class="section lEsE">
            <div class="lunarElevatorText">
            </div>
            <div class="spacerbox">
                <h1 class="headerStyle lsei">Lunar Elevator and Space Elevator</h1>
            </div>
            <div class="box lunaland">
                <a href="#box2">
                    
                </a>
            </div>
            <div class="slider">
                <div class="box spaceland">
                    <a href="#box1">
                       
                    </a>
                </div>
            </div>
    </div>
</div>