
<div id="fullpage">
    <div class="section" id="sectionLanding">
        <div class="landingPage">
            <div class="hide-below-lg">
                <video autoplay loop muted id="bgvid">
                    <source src="images/main_view/STAR_SKY_HD_background_loop.webm" type="video/webm">
                    <source src="images/main_view/STAR SKY HD background loop.mp4" type="video/mp4">
                </video>
            </div>
            <div class="layer0">
                <img id="moon" src="images/main_view/landingpagefinal.png">
            </div>
            <div class="container layer1">
                <div class="title">
                    <img src="images/LiftPort-Logo-Small.png" alt="LPLogo" class="landingLogo">
                    <img src="images/4_LiftPort_Logo_(website).png" alt="LiftPort" class="landingTitle">
                </div>
              
                <div class="col-md-5 col-md-offset-2 landingTextArea">
                    <div class="landingText headerStyle">
                        <p>Your Text Here. Tell me what a lunar elevator gives me. Tell me why I should care. Tell me why you're the best. Lorem Ipsum.</p> 
                    </div>
                    <div class="callToAction">
                        <h4 class="paragraphStyle">Enter Your Email For LiftPort News And Updates</h4>
                        <textarea name="email" id="email" cols="30" rows="1" placeholder="email"></textarea>
                        <button class="buttonLight">Submit</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="section">
        </div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
</div>