<div class="spaceHero">
    <h1 class="headerStyle">SPACE ELEVATOR</h1>
</div>

<section class="section_0">
    <div class="space-container">
        <div class="row headerStyle space-txt">
            <h2 class="ele headerStyle txt-center">SPACE ELEVATOR</h2>
            <div class="col-sm-6">
                <p class="paragraphStyle">A space elevator is a proposed type of space transportation system. The main component would be a cable (also
                    called a tether) anchored to the surface and extending into space. The design would permit vehicles to
                    travel along the cable from a planetary surface, such as the Earth's, directly into space or orbit, without
                    the use of large rockets. An Earth-based space elevator would consist of a cable with one end attached
                    to the surface near the equator and the other end in space beyond geostationary orbit (35,800 km altitude).
                    The competing forces of gravity, which is stronger at the lower end, and the outward/upward centrifugal
                    force, which is stronger at the upper end, would result in the cable being held up, under tension, and
                    stationary over a single position on Earth. With the tether deployed, climbers could repeatedly climb
                    the tether to space by mechanical means, releasing their cargo to orbit. Climbers could also descend
                    the tether to return cargo to the surface from orbit. The concept of a space elevator was first published
                    in 1895 by Konstantin Tsiolkovsky. His proposal was for a free-standing tower reaching from the surface
                    of Earth to the height of geostationary orbit. Like all buildings, Tsiolkovsky's structure would be under
                    compression, supporting its weight from below. Since 1959, most ideas for space elevators have focused
                    on purely tensile structures, with the weight of the system held up from above by centrifugal forces.
                    In the tensile concepts, a space tether reaches from a large mass (the counterweight) beyond geostationary
                    orbit to the ground. This structure is held in tension between Earth and the counterweight like an upside-down
                    plumb bob. To construct a space elevator on Earth the cable material would need to be both stronger and
                    lighter (have greater specific strength) than any known material. Development of new materials which
                    could meet the demanding specific strength requirement is required for designs to progress beyond discussion
                    stage. Carbon nanotubes (CNTs) have been identified as possibly being able to meet the specific strength
                    requirements for an Earth space elevator. Other materials considered have been boron nitride nanotubes,
                    and diamond nanothreads which were first constructed in 2014.The concept is applicable to other planets
                    and celestial bodies. For locations in the solar system with weaker gravity than Earth's (such as the
                    Moon or Mars), the strength-to-density requirements for tether materials are not as problematic. Currently
                    available materials (such as Kevlar) are strong and light enough that they could be used as the tether
                    material for elevators there.</p>
            </div>
            <div class="space-img col-sm-6">

            </div>
        </div>
    </div>
    <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden; visibility: hidden; background-color: #24262e;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('../images/space_elevator/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 356px; overflow: hidden;">
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="../images/space_elevator/space_elevator-1.jpg" />
                <img data-u="thumb" src="../images/space_elevator/space_elevator-1.jpg" />
            </div>
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="../images/space_elevator/space_elevator-2.jpg" />
                <img data-u="thumb" src="../images/space_elevator/space_elevator-2.jpg" />
            </div>
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="../images/space_elevator/space_elevator-3.jpg" />
                <img data-u="thumb" src="../images/space_elevator/space_elevator-3.jpg" />
            </div>
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="../images/space_elevator/space_elevator-4.jpg" />
                <img data-u="thumb" src="../images/space_elevator/space_elevator-4.jpg" />
            </div>
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="../images/space_elevator/space_elevator-5.jpg" />
                <img data-u="thumb" src="../images/space_elevator/space_elevator-5.jpg" />
            </div>
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="../images/space_elevator/space_elevator-6.jpg" />
                <img data-u="thumb" src="../images/space_elevator/space_elevator-6.jpg" />
            </div>
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="../images/space_elevator/space_elevator-7.jpg" />
                <img data-u="thumb" src="../images/space_elevator/space_elevator-7.jpg" />
            </div>
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="../images/space_elevator/space_elevator-8.jpg" />
                <img data-u="thumb" src="../images/space_elevator/space_elevator-8.jpg" />
            </div>
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="../images/space_elevator/space_elevator-9.jpg" />
                <img data-u="thumb" src="../images/space_elevator/space_elevator-9.jpg" />
            </div>
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="../images/space_elevator/space_elevator-10.jpg" />
                <img data-u="thumb" src="../images/space_elevator/space_elevator-10.jpg" />
            </div>
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="../images/space_elevator/space_elevator-11.jpg" />
                <img data-u="thumb" src="../images/space_elevator/space_elevator-11.jpg" />
            </div>
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="../images/space_elevator/space_elevator-12.jpg" />
                <img data-u="thumb" src="../images/space_elevator/space_elevator-12.jpg" />
            </div>
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="../images/space_elevator/space_elevator-13.jpg" />
                <img data-u="thumb" src="../images/space_elevator/space_elevator-13.jpg" />
            </div>
        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
            <!-- Thumbnail Item Skin Begin -->
            <div data-u="slides" style="cursor: default;">
                <div data-u="prototype" class="p">
                    <div class="w">
                        <div data-u="thumbnailtemplate" class="t"></div>
                    </div>
                    <div class="c"></div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
        <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
    </div>
</section>
<section class="section_1">
    <div class="headerStyle videos row">
        <h2 class="ele headerStyle">VIDEOS</h2>
        <div class="video-container">

            <iframe width="560" height="315" src="https://www.youtube.com/v/Ik7mYmlSyR8" frameborder="0" allowfullscreen>
    </iframe>

        </div>
    </div>
</section>
<section class="section_2">
    <div class="headerStyle documents">
        <h2 class="ele headerStyle">DOCUMENTS</h2>

        <p class="paragraphStyle"><a id="test" href="#" class="embed-link">Click this link to see Space Elevator PDF.</a></p>
        <div id="results" class="hidden"></div>
        <div id="pdf"></div>
        <p id="close" class="paragraphStyle hidden" ng-click="closePDF()"><a style="cursor: pointer">Click this link to close the PDF.</a></p>
</section>
</div>