<div id="fullpage">
	<div class="section " id="section0">
		<h1>fullPage.js</h1>
		<p>Configure the easing jQuery UI effect!</p>
		<img src="../images/fullPage.png" alt="fullPage" />
	</div>
	<div class="section" id="section1">
		<div class="intro">
			<img src="../images/1.png" alt="Cool" />
			<h1>easeOutBack</h1>
			<p>This example is working with `easeOutBack` effect instead of the default</p>
			<p>You can see more about the</p>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="intro">
			<h1>Cool uh?</h1>
			<p>Choose the best easing effect for your site!</p>
		</div>
	</div>
</div>